##### github address:
##### https://github.com/Ali-Varposhti/JupiterNotebook_Test01

# Data Science Tools and Ecosystem

#### In this notebook, We are going to summarize the Data Science Tools and Ecosystem.

## Objectives:

#### -popular languages that Data Scientists
#### -commonly used libraries used by Data Scientists
#### -evaluating arithmetic expressions

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. ggplot
3. Numpy

|Data Science Tools|
|------------------|
|Anaconda|
|Jupiter Notebook|
|VS code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
m=200
x=60
hours=(m/x)
print(hours)

3.3333333333333335

# Author:
#### Ali Varposhti

##### github address:
##### https://github.com/Ali-Varposhti/JupiterNotebook_Test01